<table id="profile" summary="Profile Information for User <%= @user.name %>">
<tr>
  <td id="main">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </td>
  <td id="sidebar" class="round">
    <b>Name</b> <%= @user.name %><br/>
    <b>URL</b>  <%= link_to user_path(@user), @user %>
  </td>
</tr>
</table>
